@model ProjektMVCCV.ServiceReferenceItemCRUDCV.Item
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ElementBackground">
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.Id) |
            @Html.DisplayNameFor(model => model.ItemName) |
            @Html.DisplayNameFor(model => model.Attribute) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id) |
            @Html.DisplayFor(model => model.ItemName) |
            @Html.DisplayFor(model => model.Attribute) 
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "GetAllItems")
    </p>
</div>
