@model IEnumerable<ProjektMVCCV.ServiceReferenceItemCRUDCV.Item>

@{
    ViewBag.Title = "GetAllItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article id="ElementBackground">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) | 
                    @*@Html.ActionLink("Lägg till Item", "Create", "Item")*@
                </td>
            </tr>
        }
        <hr />
        @Html.ActionLink("Lägg till Item", "Create", "Item")
    </table>
</article>